<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="FieldingSystems.Accessories" version="1.7.10" targetFramework="net461" />
  <package id="MemoryCacheT" version="0.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Interception" version="3.2.0.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Interception.DynamicProxy" version="3.2.0.0" targetFramework="net461" />
  <package id="Q.Omni" version="1.0.1" targetFramework="net461" />
  <package id="Q.Omni.Tests" version="0.0.0-a" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net461" />
</packages>